<span class=dark:text-neutral-300>

<!-- disclaimer_practitioner25_s.html -->

    <p>This series draws heavily from <strong>Stephane Maarek&rsquo;s</strong> <a href=https://www.udemy.com/course/aws-certified-cloud-practitioner-new/ target=_blank rel=noreferrer>Ultimate AWS Certified Cloud Practitioner</a> course on <em>Udemy</em>.</p>

    <p><a href=https://www.udemy.com/user/stephane-maarek/ target=_blank rel=noreferrer>His content</a> was instrumental in helping me pass the certification.</p>

<!-- disclaimer_practitioner25_s.html -->

    <p><center><em>Shared for educational purposes only, no rights reserved.</em></center></p>

</span>