<span class=dark:text-neutral-300>

    <p>This series draws heavily from <strong>Kalyan Reddy Daida&rsquo;s</strong> <a href=https://www.udemy.com/course/terraform-on-aws-with-sre-iac-devops-real-world-demos/ target=_blank rel=noreferrer>Terraform on AWS with SRE & IaC DevOps</a> course on <em>Udemy</em>.</p>

    <p><a href=https://www.udemy.com/user/kalyan-reddy-9/ target=_blank rel=noreferrer>His content</a> was instrumental in helping me learning Terraform.</p>

    <p><b>Highly recommended:</b></p>

    <ul>
    <li><a href=https://stacksimplify.com/ target=_blank rel=noreferrer>https://stacksimplify.com/</a></li>
    <li><a href=http://www.linkedin.com/in/kalyan-reddy-daida target=_blank rel=noreferrer>http://www.linkedin.com/in/kalyan-reddy-daida</a></li>
    <li><a href=http://www.youtube.com/stacksimplify target=_blank rel=noreferrer>http://www.youtube.com/stacksimplify</a></li>
    <li><a href=https://github.com/stacksimplify target=_blank rel=noreferrer>https://github.com/stacksimplify</a></li>    
    </ul>

    <p><center><em>Shared for educational purposes only, no rights reserved.</em></center></p>
</span>