<span class=dark:text-neutral-300>

<!-- Disclaimer -->

    <p>This series draws heavily from <font color=#EBAC25>Maximilian Schwarzmüller</font>&rsquo;s <a href=https://www.udemy.com/course/github-actions-the-complete-guide/ target=_blank rel=noreferrer>GitHub Actions - The Complete Guide</a> course on <em>Udemy</em>.</p>

<!-- /Disclaimer -->       
<!-- About the instructor -->

<table>
  <thead>
      <tr>
          <th>About the instructor</th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>🌐 <a href="https://maximilian-schwarzmueller.com/" target="_blank" rel="noreferrer">Website</a>
</td>
          <td>📺 <a href="https://www.youtube.com/@maximilian-schwarzmueller" target="_blank" rel="noreferrer">YouTube</a>
</td>
      </tr>
      <tr>
          <td>💼 <a href="https://www.linkedin.com/in/maximilian-schwarzmueller/" target="_blank" rel="noreferrer">LinkedIn</a>
</td>
          <td>🗃️ <a href="https://github.com/academind/github-actions-course-resources" target="_blank" rel="noreferrer">GitHub</a>
</td>
      </tr>
  </tbody>
</table>

<!-- /About the instructor -->

<!-- My GitHub Repositories -->

<p><b>My GitHub Repositories for this section:</b></p>
<ul>
  <li><a href="https://github.com/rtdevx/cicd-gh-actions-course" target="_blank" rel="noreferrer">cicd-gh-actions-course</a></li>
</ul>  

<!-- /My GitHub Repositories -->

    <p><center>ℹ️<em>Shared for educational purposes only, no rights reserved.</em></center></p>
</span>