<span class=dark:text-neutral-300>

<!-- disclaimer_practitioner25_s.html -->

    <p>This series draws heavily from <strong>Stephane Maarek&rsquo;s</strong> <a href=https://www.udemy.com/course/aws-certified-cloud-practitioner-new/ target=_blank rel=noreferrer>Ultimate AWS Certified Cloud Practitioner</a> course on <em>Udemy</em>.</p>

    <p><a href=https://www.udemy.com/user/stephane-maarek/ target=_blank rel=noreferrer>His content</a> was instrumental in helping me pass the certification.</p>

<!-- disclaimer_practitioner25_s.html -->

<!-- About the instructor -->

<table>
  <thead>
      <tr>
          <th>About the instructor</th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>🌐 <a href="https://courses.datacumulus.com/" target="_blank" rel="noreferrer">Website</a>
</td>
          <td>📺 <a href="https://www.youtube.com/StephaneMaarek" target="_blank" rel="noreferrer">YouTube</a>
</td>
      </tr>
      <tr>
          <td>💼 <a href="https://www.linkedin.com/in/stephanemaarek" target="_blank" rel="noreferrer">LinkedIn</a>
</td>
          <td>𝕏 <a href="https://x.com/stephanemaarek" target="_blank" rel="noreferrer">x.com</a>
</td>
      </tr>
  </tbody>
</table>

<!-- /About the instructor -->

    <p>Highly recommended:</p>

    <ul>
    <li><a href=https://www.linkedin.com/in/stephanemaarek target=_blank rel=noreferrer>https://www.linkedin.com/in/stephanemaarek</a></li>
    <li><a href=https://x.com/stephanemaarek target=_blank rel=noreferrer>https://x.com/stephanemaarek</a></li>
    </ul>

    <p><center><em>Shared for educational purposes only, no rights reserved.</em></center></p>
</span>