<span class=dark:text-neutral-300>

<!-- Disclaimer -->

    <p>This series draws heavily from <font color=#EBAC25>Kalyan Reddy Daida</font>&rsquo;s <a href=https://www.udemy.com/course/terraform-on-aws-with-sre-iac-devops-real-world-demos/ target=_blank rel=noreferrer>Terraform on AWS with SRE & IaC DevOps</a> course on <em>Udemy</em>.</p>

    <p><a href=https://www.udemy.com/user/kalyan-reddy-9/ target=_blank rel=noreferrer>His content</a> was a game-changer in helping me understand Terraform.</p>

<!-- /Disclaimer -->

<!-- About the instructor -->

<table>
  <thead>
      <tr>
          <th><b>About the instructor:</b></th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>🌐 <a href="https://stacksimplify.com/" target="_blank" rel="noreferrer">Website</a>
</td>
          <td>📺 <a href="http://www.youtube.com/stacksimplify" target="_blank" rel="noreferrer">YouTube</a>
</td>
      </tr>
      <tr>
          <td>💼 <a href="http://www.linkedin.com/in/kalyan-reddy-daida" target="_blank" rel="noreferrer">LinkedIn</a>
</td>
          <td>🗃️ <a href="https://github.com/stacksimplify" target="_blank" rel="noreferrer">GitHub</a>
</td>
      </tr>
  </tbody>
</table>

<!-- /About the instructor -->

<!-- My GitHub Repositories -->

<table>
  <thead>
      <tr>
          <th><b>My Repos for this section:</b></th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td><a href="https://github.com/rtdevx/terraform-iac-aws-cp1" target="_blank" rel="noreferrer">terraform-iac-aws-cp1</a></td>
          <td>AWS IaC with Terraform and CodePipeline.</td>
      </tr>
      <tr>
          <td><a href="https://github.com/rtdevx/terraform-core" target="_blank" rel="noreferrer">terraform-core</a></td>
          <td>Pre-requisites or dependencies for IaC Terraform code.</td>
      </tr>
      <tr>
          <td><a href="https://github.com/rtdevx/terraform/tree/main/terraform-on-aws-ec2" target="_blank" rel="noreferrer">terraform-on-aws-ec2</a></td>
          <td>Testing and Learning Terraform, Archive Terraform code.</td>
      </tr>      
  </tbody>
</table>

<!--
<p><b>My GitHub Repositories for this section:</b></p>
<ul>
  <li><a href="https://github.com/rtdevx/terraform-iac-aws-cp1" target="_blank" rel="noreferrer">terraform-iac-aws-cp1</a></li>
  <li><a href="https://github.com/rtdevx/terraform-core" target="_blank" rel="noreferrer">terraform-core</a></li>
  <li><a href="https://github.com/rtdevx/terraform/tree/main/terraform-on-aws-ec2" target="_blank" rel="noreferrer">terraform-on-aws-ec2</a></li>
</ul>  
-->
<!-- /My GitHub Repositories -->

    <p><center>ℹ️<em>Shared for educational purposes only, no rights reserved.</em></center></p>
</span>