<span class=dark:text-neutral-300>

<!-- Disclaimer -->

    <p>This series draws heavily from <font color=#EBAC25>Kalyan Reddy Daida</font>&rsquo;s <a href=https://www.udemy.com/course/docker-in-a-weekend-40-practical-demos-for-devops-learners/ target=_blank rel=noreferrer>Docker in a Weekend: 40 Practical Demos for DevOps Learners</a> course on <em>Udemy</em>.</p>

<!-- /Disclaimer -->

<!-- About the instructor -->

<table>
  <thead>
      <tr>
          <th><b>About the instructor:</b></th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>🌐 <a href="https://stacksimplify.com/" target="_blank" rel="noreferrer">Website</a>
</td>
          <td>📺 <a href="http://www.youtube.com/stacksimplify" target="_blank" rel="noreferrer">YouTube</a>
</td>
      </tr>
      <tr>
          <td>💼 <a href="http://www.linkedin.com/in/kalyan-reddy-daida" target="_blank" rel="noreferrer">LinkedIn</a>
</td>
          <td>🗃️ <a href="https://github.com/stacksimplify" target="_blank" rel="noreferrer">GitHub</a>
</td>
      </tr>
  </tbody>
</table>

<!-- /About the instructor -->

<!-- My GitHub Repositories -->

<table>
  <thead>
      <tr>
          <th><b>My Repos for this section:</b></th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td><a href="https://github.com/rtdevx/docker-course-40" target="_blank" rel="noreferrer">docker-course-40</a></td>
          <td>Docker in a Weekend: 40 Practical Demos for DevOps Learners.</td>
      </tr>      
  </tbody>
</table>

<!-- /My GitHub Repositories -->

    <p><center>ℹ️<em>Shared for educational purposes only, no rights reserved.</em></center></p>
</span>