<table><thead><tr><th></th><th></th><th></th></tr></thead>
    <tbody>
        <tr>
            <td><a href=/posts/training/aws/2025-aws-cloud-practitioner/1-what-is-cloud-computing/>1. What is Cloud Computing</a></td>
            <td><a href=/posts/training/aws/2025-aws-cloud-practitioner/2-iam/>2. IAM</a></td>
            <td><a href=/posts/training/aws/2025-aws-cloud-practitioner/3-budget/>3. Budget</a></td>
        </tr>
        <tr>
            <td><a href=/posts/training/aws/2025-aws-cloud-practitioner/4-ec2/>4. EC2</a></td>
            <td><a href=/posts/training/aws/2025-aws-cloud-practitioner/5-security-groups/>5. Security Groups</a></td>
            <td><a href=/posts/training/aws/2025-aws-cloud-practitioner/6-storage/>6. Storage</a></td>
        </tr>
        <tr>
            <td><a href=/posts/training/aws/2025-aws-cloud-practitioner/7-ami/>7. AMI</a></td>
            <td><a href=/posts/training/aws/2025-aws-cloud-practitioner/8-scalability-high-availability/>8. Scalability & High Availability</a></td>
            <td><a href=/posts/training/aws/2025-aws-cloud-practitioner/9-elastic-load-balancing/>9. Elastic Load Balancing</a></td>
        </tr>
        <tr>
            <td><a href=/posts/training/aws/2025-aws-cloud-practitioner/10-auto-scaling-groups/>10. Auto Scaling Group</a></td><td><a href=/posts/training/aws/2025-aws-cloud-practitioner/11-s3/>11. S3</a></td>
            <td><a href=/posts/training/aws/2025-aws-cloud-practitioner/12-databases/>12. Databases</a></td>
        </tr>
        <tr>
            <td><a href=/posts/training/aws/2025-aws-cloud-practitioner/13-other-compute-services/>13. Other Compute Services</a></td>
            <td><a href=/posts/training/aws/2025-aws-cloud-practitioner/14-deployments/>14. Deployments</a></td>
            <td><a href=/posts/training/aws/2025-aws-cloud-practitioner/15-aws-global-infrastructure/>15. AWS Global Infrastructure</a></td>
        </tr>
        <tr>
            <td><a href=/posts/training/aws/2025-aws-cloud-practitioner/16-cloud-integrations/>16. Cloud Integrations</a></td>
            <td><a href=/posts/training/aws/2025-aws-cloud-practitioner/17-cloud-monitoring/>17. Cloud Monitoring</a></td>
            <td><a href=/posts/training/aws/2025-aws-cloud-practitioner/18-vpc/>18. VPC</a></td>
        </tr>
        <tr>
            <td><a href=/posts/training/aws/2025-aws-cloud-practitioner/19-security-and-compliance/>19. Security and Compliance</a></td>
            <td><a href=/posts/training/aws/2025-aws-cloud-practitioner/20-machine-learning/>20. Machine Learning</a></td>
            <td><a href=/posts/training/aws/2025-aws-cloud-practitioner/21-account-management-and-billing/>21. Account Management and Billing</a></td>
        </tr>
        <tr>
            <td><a href=/posts/training/aws/2025-aws-cloud-practitioner/22-advanced-identity/>22. Advanced Identity</a></td>
            <td><a href=/posts/training/aws/2025-aws-cloud-practitioner/23-other-services/>23. Other Services</a></td>
            <td><a href=/posts/training/aws/2025-aws-cloud-practitioner/24-aws-architecting-cosystem/>24. AWS Architecting & Ecosystem</a></td>
        </tr>
        <tr>
            <td></td>
            <td><a href=/posts/training/aws/2025-aws-cloud-practitioner/25-preparing-for-the-exam/>25. Preparing for AWS Practitioner exam</a></td>
            <td></td>
        </tr>
</tbody></table>