{{ define "main" }}
<!--
<h1 class="mb-3 text-4xl font-extrabold">{{ i18n "error.404_title" | emojify }}</h1>
-->
<!--
  <p class="mb-12 mt-8 text-neutral-400 dark:text-neutral-500">
    {{ i18n "error.404_error" | emojify }}
  </p>
-->  
<pre>
<center>
 ,---------------------------,
 |  /---------------------\  |
 | |                       | |
 | |       Error <font color=#EB4925>404</font>       | |
 | |     Page not found    | |
 | |                       | |
 | |       ¯\_(ツ)_/¯      | |
 |  \_____________________/  |
 |___________________________|
---\_____     []     _______/--
       /______________\        
_______________________________
                               
_ _                 [-------]  
o o                 [-------]  
______________________________ 
-----------------------------/|
-/-/-/-/-/-/-/-/-/-/-/-/-/-/ /
/-/-/-/-/-/-/-/-/-/-/-/-/-/ /
~~~~~~~~~~~~~~~~~~~~~~~~~~~
</center>
</pre>
<center>
  <div class="prose dark:prose-invert">
    <p>
      {{ i18n "error.404_description" | emojify }}<br><br> I suggest visiting page <a href="/"><font color=#C7EB25>200</font></a> for better results.
    </p>
  </div>
</center>
<center>
  <div class="prose dark:prose-invert">
    <p>
      <H2><u>e-mail:</u></H2>
    </p>
  </div>
</center>
<br>
<center>
  <div class="prose dark:prose-invert">
    <p>
     3vf154 [at] 3rChyV [dot] 8ip<br>
     *<i>base58</i>
    </p>
  </div>
</center>
<pre>
  <center>
-----BEGIN PGP PUBLIC KEY BLOCK-----
<!--
Comment: User ID:	Rob K <3vf154[at]3rChyV[dot]8ip>
Comment: Valid from:	26/09/2025 00:22
Comment: Valid until:	26/09/2028 12:00
Comment: Type:	255-bit EdDSA (secret key available)
Comment: Usage:	Signing, Encryption, Certifying User IDs
Comment: Fingerprint:	24A87C50D1964A220E045B90028C33FE0785CDFF
-->
mDMEaNXOshYJKwYBBAHaRw8BAQdA+3SMAPHcQyIb633tGMoC2QZciPRerklMpe/F
CUwzhmK0FFJvYiBLIDxyb2JrQG9uZXQuZXU+iJkEExYKAEEWIQQkqHxQ0ZZKIg4E
W5ACjDP+B4XN/wUCaNXOsgIbAwUJBaWPfgULCQgHAgIiAgYVCgkICwIEFgIDAQIe
BwIXgAAKCRACjDP+B4XN/9fxAQDl8GoANMbYnHohWFt7gfnhLs1PdPw7KX+qBDQ2
7AVYOAEAtsfzFEjrnD9CG4F1J3J7t3E3cvVUpah3YM7YtuSi0wG4OARo1c6yEgor
BgEEAZdVAQUBAQdAuRolkzxKO9gL59SG82Owgw7UyU88IyQ9goqBTxaBLl8DAQgH
iH4EGBYKACYWIQQkqHxQ0ZZKIg4EW5ACjDP+B4XN/wUCaNXOsgIbDAUJBaWPfgAK
CRACjDP+B4XN/3H1AQDAqTADEzujwjzsWWyLPTqJmgvNHr6qx1S776f46TqMQgEA
7eEZ8w84w2sip2NObV2CqVfa/DS9TP5eDL85asUg4Ac=
=uHGh
-----END PGP PUBLIC KEY BLOCK-----
  </center>
</pre>
{{ end }}