{{ define "main" }}
  <h1 class="mb-3 text-4xl font-extrabold">{{ i18n "error.404_title" | emojify }}</h1>
  <p class="mb-12 mt-8 text-neutral-400 dark:text-neutral-500">
    {{ i18n "error.404_error" | emojify }}
  </p>
  
                         ______                     <br />
 _________        .---"""      """---.              <br />
:______.-':      :  .--------------.  :             <br />
| ______  |      | :                : |             <br />
|:______B:|      | |  Little Error: | |             <br />
|:______B:|      | |                | |             <br />
|:______B:|      | |  Page not      | |             <br />
|         |      | |  found.        | |             <br />
|:_____:  |      | |                | |             <br />
|    ==   |      | :                : |             <br />
|       O |      :  '--------------'  :             <br />
|       o |      :'---...______...---'              <br />
|       o |-._.-i___/'             \._              <br />
|'-.____o_|   '-.   '-...______...-'  `-._          <br />
:_________:      `.____________________   `-.___.-. <br />
                 .'.eeeeeeeeeeeeeeeeee.'.      :___:<br />
               .'.eeeeeeeeeeeeeeeeeeeeee.'.         <br />
              :____________________________:        <br />
                                                    <br />
  <div class="prose dark:prose-invert">
    <p>{{ i18n "error.404_description" | emojify }}</p>
  </div>
{{ end }}
