{{ define "main" }}
<!--
<h1 class="mb-3 text-4xl font-extrabold">{{ i18n "error.404_title" | emojify }}</h1>
-->
<!--
  <p class="mb-12 mt-8 text-neutral-400 dark:text-neutral-500">
    {{ i18n "error.404_error" | emojify }}
  </p>
-->  
<pre>
<center>
 ,---------------------------,
 |  /---------------------\  |
 | |                       | |
 | |       Error <font color=#EB4925>404</font>       | |
 | |     Page not found    | |
 | |                       | |
 | |       ¯\_(ツ)_/¯      | |
 |  \_____________________/  |
 |___________________________|
---\_____     []     _______/--
       /______________\        
_______________________________
                               
_ _                 [-------]  
o o                 [-------]  
______________________________ 
-----------------------------/|
-/-/-/-/-/-/-/-/-/-/-/-/-/-/ /
/-/-/-/-/-/-/-/-/-/-/-/-/-/ /
~~~~~~~~~~~~~~~~~~~~~~~~~~~
</center>
</pre>
<center>
  <div class="prose dark:prose-invert">
    <p>
      {{ i18n "error.404_description" | emojify }}<br><br> I suggest visiting page <a href="/"><font color=#C7EB25>200</font></a> for better results.
    </p>
  </div>
</center>

<br>

<center>
  <div class="prose dark:prose-invert">
    <p>
     *<font color=#EBAC25><i>contact:</i></font> cm9iaw==[at]b25ldA==[dot]ZXU=.<br>
      *<i>base64</i>

    </p>
  </div>
</center>
{{ end }}