{{ define "main" }}
  {{- $images := .Resources.ByType "image" }}
  {{- $cover := $images.GetMatch (.Params.cover | default "*cover*") }}
  {{- $feature := $images.GetMatch (.Params.feature | default "*feature*") | default $cover }}
  <article class="max-w-full">
    <header>
      {{ if .Params.showBreadcrumbs | default (.Site.Params.article.showBreadcrumbs | default false) }}
        {{ partial "breadcrumbs.html" . }}
      {{ end }}
      <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
        {{ .Title | emojify }}
      </h1>
<!-- Custom section-->
      {{ if or
        (.Params.showDate | default (.Site.Params.article.showDate | default true))
        (and (.Params.showDateUpdated | default (.Site.Params.article.showDateUpdated | default false)) (ne (partial "functions/date.html" .Date) (partial "functions/date.html" .Lastmod)))
        (and (.Params.showWordCount | default (.Site.Params.article.showWordCount | default false)) (ne .WordCount 0))
        (and (.Params.showReadingTime | default (.Site.Params.article.showReadingTime | default true)) (ne .ReadingTime 0))
        (.Params.showEdit | default (.Site.Params.article.showEdit | default false))
      }}
        <div class="mb-10 text-base text-neutral-500 dark:text-neutral-400 print:hidden">
          {{ partial "article-meta.html" (dict "context" . "scope" "single") }}
        </div>
      {{ end }}
      <!-- Featured Image -->
      {{ with $feature }}
        <div class="prose">
          {{ $altText := $.Params.featureAlt | default $.Params.coverAlt | default "" }}
          {{ $class := "mb-6 rounded-md" }}
          {{ $webp := $.Page.Site.Params.enableImageWebp | default true }}
          <img src="{{ . }}" alt="{{ $altText }}" class="{{ $class }}">
          {{ with $.Params.coverCaption }}
            <figcaption class="-mt-3 mb-6 text-center">{{ . | markdownify }}</figcaption>
          {{ end }}
        </div>
      {{ end }}
      <!-- Featured Image END-->      
<!-- Custom section END-->
    </header>
    <section class="prose mt-6 max-w-full dark:prose-invert">
      {{ .Content | emojify }}
    </section>
    <footer class="pt-8">
      {{ partial "sharing-links.html" . }}
    </footer>
  </article>
{{ end }}