name: Resize photography debug

on:
  workflow_dispatch:

jobs:
  debug-resize:
    runs-on: ubuntu-latest
    permissions:
        contents: write
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
            fetch-depth: 0
            persist-credentials: true

      - name: Build directories list
        id: build_dirs
        run: |
            DIRS=$(find content/photography -type f \( -iname '*.jpg' -o -iname '*.jpeg' -o -iname '*.png' -o -iname '*.webp' \) -printf '%h\n' | sort -u | paste -sd, -)
            echo "IMAGES_DIRECTORIES=$DIRS" >> $GITHUB_ENV
      - name: Resize images
        uses: gonzalonaveira/gh-image-resizing@master
        with:
          IMAGES_MAX_WIDTH: 400
          IMAGES_QUALITY: 90
          IMAGES_FORMATS: "jpg,jpeg,png,webp"
          IMAGES_DIRECTORIES: "content/photography/**,content/photography/**/**,content/photography/**/**/**"
          IMAGES_SUFFIX: "-resized"

      - name: Commit resized images
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add content/photography/**/*-resized.* || true
          git commit -m "Resize photography images" || echo "No changes to commit"
          git push

