name: Resize photography debug

on:
  workflow_dispatch:

jobs:
  debug-resize:
    runs-on: ubuntu-latest
    permissions:
        contents: write


    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
            fetch-depth: 0
            persist-credentials: true

      - name: Resize images
        uses: gonzalonaveira/gh-image-resizing@master
        with:
          IMAGES_MAX_WIDTH: 400
          IMAGES_QUALITY: 90
          IMAGES_FORMATS: "jpg,jpeg,png,webp"
          IMAGES_DIRECTORIES: "content/photography"
          IMAGES_SUFFIX: "-resized"
          DEBUG: true

      - name: Commit resized images
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add content/photography/**-resized.* || true
          git commit -m "Resize photography images" || echo "No changes to commit"
          git push

